
html {font-family: 'Open Sans', sans-serif; margin:0px; padding:0px;}
.container {max-width: 1200px; margin-left:auto; margin-right: auto; padding-left: 15px;
    padding-right: 15px;}
section {border:2px #97B1C7 solid; padding:2em;}
.bluey {color: #1C5386; }
.red {color:#9F203C}
.boxy { background:#E4E5E6; padding: 1em; margin: 1em;}
.biggy {font-size: x-large; font-weight: bold; max-width: 900px; margin:auto;}
.lilbiggy {font-size: larger;}
.banner {text-align: center; background-color: #DDDFE9;}

.img-resp {max-width: 100%}
.pull-left {
	float: left; padding-right:.5em;
}
.pull-right {
	float: right; padding-left:.5em;
}
.paddy {padding:1em;}

h2 {color: #144885; margin-bottom: 0px; margin-top:2em; border-bottom: #144885 1px solid;}

.cards {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards li {
    border: 2px solid #9F203C;
    border-radius:5px;
    color: #000;
    flex: 1 1 200px;
  }
  
  .cards h2 {
    background-color: #white;
    margin: 0;
    padding: 10px;
  }
  
  .cards p {
    padding: 10px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  
  .flex li {
    flex: 1 1 200px;
    margin: 10px;
  }