<footer class="container">
<p></p>
<div class="bluey biggy boxy">
        <i class="fas fa-info-circle fa-5x pull-left"></i><p>Training sessions on additional topics are available upon request. To schedule a training or for additional information, please contact:</p>
        <hr>
        <p>NICK HOLZ, Training Associate | <a href="mailto:Nicholas.holz@umb.edu">Nicholas.holz@umb.edu</a></p>
        <p>JESSICA KEENOY, Training Associate | <a href="mailto:Jessica.keenoy@umb.edu">Jessica.keenoy@umb.edu</a></p>
</div>
<p></p>   
</footer>