<footer>
   

<div class="row">


<div class="col-sm-4">
  <h3>Training & TA</h3>
  <hr />

 
  <ul>
  <li><a href="/upcomingevents/">Upcoming Events</a></li>
  
<li><a href="/pages/ta_request.html">Overview</a></li>
<li><a href="https://umassboston.co1.qualtrics.com/jfe/form/SV_0r2NIq9NNxoEuep">Apply</a> (doc)</li>

<li><a href="/pages/trs.html">Training Resources</a></li>
</ul>
<!--<h3>Webinar Archives</h3>-->
</div>
<div class="col-sm-4">

<!--<img src="img/4circles.jpg" />  <br /><br />-->
<h3>Tools & Resources</h3>
<hr />
<ul>
<li><a  href="/pages/resource_lib.html">Resource Library Home</a></li>
  <li><a  href="/pages/acc.html">Accommodations</a></li>
  <li><a  href="/pages/bens.html">Benefits</a></li>
  <li><a  href="/pages/employers.html">Employers</a></li>
  <li><a  href="/pages/quality-employment-practices.html"><i class="fas fa-angle-down"></i>Quality Employment Practices </a></li>
  <li><a class="lilright" href="/pages/quality-employment-practices.html#cp"> <i class="fas fa-angle-right"></i> Career Planning</a></li>
  <li><a class="lilright" href="/pages/quality-employment-practices.html#jc"> <i class="fas fa-angle-right"></i> Job Coaching</a></li>
  <li><a class="lilright" href="/pages/quality-employment-practices.html#jd"> <i class="fas fa-angle-right"></i> Job Development</a></li>
  <li><a  href="/pages/ada.html">Policy & Law</a></li>
  <li><a  href="/pages/transportation.html">Transportation</a></li>
 
  
</ul>

</div>

<div class="col-sm-4">
  <p>EmploymentFirst is presented by the Missouri Department of Mental Health, Division of Developmental Disabilities (DD) to the Institute for Community Inclusion (ICI) at the University of Massachusetts Boston.
  </p>

</div>

</div>
<hr>
<div class="row">
  <div class="col">
    <span class="align-middle">
    <center>
    <img src="/imgs/ici-umb.png" alt="ICI UMass Boston"></center>
  </span>
  </div>
  <div class="col">
    <center><p>Copyright <script>
      document.write(new Date().getFullYear())
    </script>2020 University of Massachusetts Boston</p></center>
  </div>
</div>
</footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/jc/jc.js"></script>