<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle green" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            TRAINING & TA
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/providertraining/">Current Trainings</a>
            <a class="dropdown-item" href="/pages/archives.html">Webinar Archives</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/pages/ta_request.html">TA & Overview </a>
            <a class="dropdown-item" href="/files/2014_Employment_First_TA_Application.doc">Apply</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/pages/certs.html">Certification Options</a>
            <a class="dropdown-item" href="/pages/trs.html">Training Resources</a>

          </div>
        </li>

        <ul class="navbar-nav mr-auto">

             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle orange" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                 RESOURCE LIBRARY
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/pages/fce.html">Foundations of Community Employment</a>
                <a class="dropdown-item" href="/pages/cp.html">Career Planning</a>
                <a class="dropdown-item" href="/pages/jd.html">Job Development</a>
                <a class="dropdown-item" href="/pages/ncc.html">Networking & Community Connections</a>
                <a class="dropdown-item" href="/pages/jc.html">Job Coaching</a>
                <a class="dropdown-item" href="/pages/acc.html">Accommodations</a>
                <a class="dropdown-item" href="/pages/bens.html">Benefits</a>
                <a class="dropdown-item" href="/pages/ada.html">ADA & Employment Law</a>
                <a class="dropdown-item" href="/pages/pubp.html">Public Policy</a>
                <a class="dropdown-item" href="/pages/ppm.html">Program Development & Management</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/pages/rec.html">Regional Employment Collaboratives</a>
                <a class="dropdown-item" href="http://www.exploreprepareact.org/">Explore PreAct</a>

               </div>
             </li>

             <ul class="navbar-nav mr-auto">

                 <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle purple" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                     STORIES
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="/pages/pp.html">Promising Practices</a>

                   </div>
                 </li>

                 <li class="nav-item">
                  <a class="nav-link teal" href="/pages/about.html">ABOUT US</a>
                </li>
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle bluey" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            MPTE
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="/mpte/">About</a>
           <a class="dropdown-item" href="/pages/mpte_ccc.html">Cross-Systems Collaboration</a>
           <a class="dropdown-item" href="/pages/mpte_we.html">Work Experiences</a>
           <a class="dropdown-item" href="/pages/mpte_fe.html">Family Engagement</a>
           <a class="dropdown-item" href="/pages/mpte_sdsa.html">Self-Determination and Self-Advocacy</a>


          </div>
        </li>

</ul>

    </div>
  </nav>
