<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle green" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            TRAINING & TA
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/upcomingevents/">Upcoming Events</a>
            <!--<a class="dropdown-item" href="/pages/archives.html">Webinar Archives</a>-->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/pages/ta_request.html">TA & Overview </a>
            <a class="dropdown-item" href="https://umassboston.co1.qualtrics.com/jfe/form/SV_0r2NIq9NNxoEuep">Apply</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/pages/trs.html">Training Resources</a>

          </div>
        </li>

        <ul class="navbar-nav mr-auto">

             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle orange" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                 RESOURCE LIBRARY
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/pages/resource_lib.html">Resource Library Home</a>
                <a class="dropdown-item" href="/pages/acc.html">Accommodations</a>
                <a class="dropdown-item" href="/pages/bens.html">Benefits</a>
                <a class="dropdown-item" href="/pages/employers.html">Employers</a>
                <a class="dropdown-item" href="/pages/quality-employment-practices.html"><i class="fas fa-angle-down"></i>Quality Employment Practices </a>
                <a class="dropdown-item lilright" href="/pages/quality-employment-practices.html#cp"> <i class="fas fa-angle-right"></i> Career Planning</a>
                <a class="dropdown-item lilright" href="/pages/quality-employment-practices.html#jc"> <i class="fas fa-angle-right"></i> Job Coaching</a>
                <a class="dropdown-item lilright" href="/pages/quality-employment-practices.html#jd"> <i class="fas fa-angle-right"></i> Job Development</a>
                <a class="dropdown-item" href="/pages/ada.html">Policy & Law</a>
                <a class="dropdown-item" href="/pages/transportation.html">Transportation</a>
               
                
                

               </div>
             </li>

             <ul class="navbar-nav mr-auto">

                 

                 <li class="nav-item">
                  <a class="nav-link teal" href="/pages/about.html">ABOUT US</a>
                </li>
     

    </div>
  </nav>
