<div class="container" id="tr_table">

  <h2>The Employment First Missouri Community of Practice</h2>
  <p>This community features:

  <ul>
    <li> Webinars providing content focused on organizational transformation, best practices in employment services, and
      facilitated discussion with participants. Webinars occur monthly and last for one hour. Automatic captions will be
      available. For accommodation requests, email <a href="mailto:Jessica.keenoy@umb.edu">Jessica.keenoy@umb.edu</a>.
      All web sessions are offered at no cost and certificates of attendance are available for sessions attended live.
    </li>
    <li>Online Basecamp Community offers an ongoing interactive forum to connect with other service providers, share
      resources, and celebrate successes. Archived webinars are available on Basecamp. There are currently over 250
      members in the Basecamp Community. Email <a href="mailto:Jessica.keenoy@umb.edu">Jessica.keenoy@umb.edu</a> to be
      added to this community.</li>
  </ul>
  </p>
  <span>
    <div class="row tr">
      <div class="col ">
        April 27, 2021 <br>
        2:00 PM CST
      </div>
      <div class="col-8 pipes">
        <h5><a href="https://communityinclusion.zoom.us/meeting/register/tJMlceqvrjspE9Byf37yiqHSXTjXHOLvIn0w"
            target="_blank">
            Person Centered Planning: Incorporating Best Practices
          </a></h5>


      </div>
      <div class="col">
        <i class="fas fa-desktop"></i> Interactive Web Session
      </div>
    </div>
  </span>

  <span>
    <div class="row tr">
      <div class="col ">
        May 25, 2021<br>
        2:00 PM CST
      </div>
      <div class="col-8 pipes">
        <h5><a href="https://communityinclusion.zoom.us/meeting/register/tJYrde2ppzMtHdJCEtOYkdjGyOHJaR2G2wMB">Using
            Labor Market Information to Enhance Employment Services
          </a></h5>


      </div>
      <div class="col">
        <i class="fas fa-desktop"></i> Interactive Web Session
      </div>
    </div>
  </span>




  <span>
    <div class="row tr">
      <div class="col ">
        June 22, 2021 <br>
        2:00 PM CST
      </div>
      <div class="col-8 pipes">
        <h5><a href="https://communityinclusion.zoom.us/meeting/register/tJ0qcu6pqD4rH9SPBtJfYq8REfEWzHCLob7r">
            Job Development & Employer Negotiations </a> </h5>

      </div>
      <div class="col">
        <i class="fas fa-desktop"></i> Interactive Web Session
      </div>
    </div>
  </span>

  <span>
    <div class="row tr">
      <div class="col ">
        August 24, 2021 <br>
        2:00 PM CST
      </div>
      <div class="col-8 pipes">
        <h5><a href="https://communityinclusion.zoom.us/meeting/register/tJIvdeGpqTsvG9OyXDg1CZ3DUmzzwy_th84y"
            target="_blank">
            Job Analysis: Understanding a New Position and Workplace Culture
          </a></h5>


      </div>
      <div class="col">
        <i class="fas fa-desktop"></i> Interactive Web Session
      </div>
    </div>
  </span>

  <span>
    <div class="row tr">
      <div class="col ">
        Sept 28, 2021<br>
        2:00 PM CST
      </div>
      <div class="col-8 pipes">
        <h5><a href="https://communityinclusion.zoom.us/meeting/register/tJwrcO-vqjwjE9FeZaRIguT-2gb1w36bXZLR">Job
            Coaching Part 1: Strategies for Support
          </a></h5>


      </div>
      <div class="col">
        <i class="fas fa-desktop"></i> Interactive Web Session
      </div>
    </div>
  </span>




  <span>
    <div class="row tr">
      <div class="col ">
        October 26, 2021 <br>
        2:00 PM CST
      </div>
      <div class="col-8 pipes">
        <h5><a href="https://communityinclusion.zoom.us/meeting/register/tJ0tc--orDIuEtAfn3gHS2iBveccMVc7FelK">
            Job Coaching Part 2: Natural Supports & Fading </a> </h5>

      </div>
      <div class="col">
        <i class="fas fa-desktop"></i> Interactive Web Session
      </div>
    </div>
  </span>

  <span>
    <div class="row tr">
      <div class="col ">
        November 16, 2021 <br>
        2:00 PM CST
      </div>
      <div class="col-8 pipes">
        <h5><a href="https://communityinclusion.zoom.us/meeting/register/tJIqcOuorz4pGtEaA5pXm_Kn26s4ebl1S5YP"
            target="_blank">
            Accommodations & Technology
          </a></h5>


      </div>
      <div class="col">
        <i class="fas fa-desktop"></i> Interactive Web Session
      </div>
    </div>
  </span>

  <span>
    <div class="row tr">
      <div class="col ">
        December 16, 2021<br>
        2:00 PM CST
      </div>
      <div class="col-8 pipes">
        <h5><a href="https://communityinclusion.zoom.us/meeting/register/tJ0udu6vrDktHtOeCm9Xgsg3MkXdYcsqr2vZ">Referral
            Relationships & Marketing
          </a></h5>


      </div>
      <div class="col">
        <i class="fas fa-desktop"></i> Interactive Web Session
      </div>
    </div>
  </span>



</div>