<div class="container" id="tr_table">
  <h2>Upcoming Events</h2>



  <span>
    <div class="row tr">
      <div class="col ">
       January 23 2020 <Br>
       2:00 PM CST 
       
      </div>
      <div class="col-8 pipes">
        <h5><a href="https://umassboston.co1.qualtrics.com/jfe/form/SV_9MtR71cReVGS2B7">Positive Partnering in Action – Employment First Missouri Community Web Session 
        </a> </h5>
        
      </div>
      <div class="col">
        <i class="fas fa-desktop"></i> Interactive Web Session
      </div>
    </div>
  </span>

  
  
  <span>
    <div class="row tr">
      <div class="col ">
     February 25, 2020<br>
     2:00 PM CST
      </div>
      <div class="col-8 pipes">
        <h5><a href=" https://umassboston.co1.qualtrics.com/jfe/form/SV_3PAXdHx47DzLDaR" target="_blank">Technology – Employment First Missouri Community Web Session  
        </a></h5>
        
          
      </div>
      <div class="col">
         <i class="fas fa-desktop"></i> Interactive Web Session
      </div>
    </div>
  </span>

  <span>
    <div class="row tr">
      <div class="col ">
      March 24, 2020<br>
      2:00 PM CST
      </div>
      <div class="col-8 pipes">
        <h5><a href="https://umassboston.co1.qualtrics.com/jfe/form/SV_eQzC6pbNUhc56UR">Part One of Two – Employment First Missouri Community Web Session 
        </a></h5>
        
         
      </div>
      <div class="col">
         <i class="fas fa-desktop"></i> Interactive Web Session
      </div>
    </div>
  </span>




  <span>
    <div class="row tr">
      <div class="col ">
        April 22, 2020 <br>
        2:00 PM CST 
      </div>
      <div class="col-8 pipes">
        <h5><a href="https://umassboston.co1.qualtrics.com/jfe/form/SV_eQzC6pbNUhc56UR">Benefits, Part Two of Two – Employment First Missouri Community Web Session  </a> </h5>
       
      </div>
      <div class="col">
        <i class="fas fa-desktop"></i> Interactive Web Session
      </div>
    </div>
  </span>
  

  
  
