<div class="container" id="tr_table">
  <h2>Upcoming Events</h2>



 

  
  
  <span>
    <div class="row tr">
      <div class="col ">
      October 27, 2020 <br>
     2:00 PM CST
      </div>
      <div class="col-8 pipes">
        <h5><a href="https://umassboston.co1.qualtrics.com/jfe/form/SV_3F2FHQxuDOwyyEZ" target="_blank">
          Schedule A Hiring Authority – Employment First Missouri  
        </a></h5>
        
          
      </div>
      <div class="col">
         <i class="fas fa-desktop"></i> Interactive Web Session
      </div>
    </div>
  </span>

  <span>
    <div class="row tr">
      <div class="col ">
      November 17, 2020<br>
      2:00 PM CST
      </div>
      <div class="col-8 pipes">
        <h5><a href="https://umassboston.co1.qualtrics.com/jfe/form/SV_3F2FHQxuDOwyyEZ">Schedule 503 – Employment First Missouri 
        </a></h5>
        
         
      </div>
      <div class="col">
         <i class="fas fa-desktop"></i> Interactive Web Session
      </div>
    </div>
  </span>




  <span>
    <div class="row tr">
      <div class="col ">
        December 15, 2020 <br>
        2:00 PM CST 
      </div>
      <div class="col-8 pipes">
        <h5><a href="https://umassboston.co1.qualtrics.com/jfe/form/SV_aWTf6VsFNoasNrn">
          Creating a Business Advisory Board – Employment First Missouri  </a> </h5>
       
      </div>
      <div class="col">
        <i class="fas fa-desktop"></i> Interactive Web Session
      </div>
    </div>
  </span>
  

  
  
