<div class="container">
  <h2>Current Trainings</h2>
        <div class="row">
          
          
          <div class="col-sm">
              <div class="card" >
                        
                  <div class="card-body"><p><i class="fas fa-desktop"></i> Online</p>
                    <h5 class="card-title">Foundations of Community Employment (online) - Option 1</h5>
                    <p class="card-text">This course begins with an overview of community employment, including current social, political, and economic changes that are leading to expansion of opportunities for individuals with disabilities.</p>
                    <p>If you are working towards your ACRE Certificate or would prefer to have more time to review this content, register for this online course <i>instead</i> of the webinar.
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>when: </b>March 1, 2018–December 31, 2018</li>
                    <li class="list-group-item"><b>Cost:</b> Free</li>
                    
                  </ul>
                  <div class="card-body">
                    <a href="/pages/tr-foundations.html" class="card-link">Register & more info</a>
                    
                  </div>
                </div>
          </div>

          <div class="col-sm">
            <div class="card" >
                      
                <div class="card-body"><p><i class="fas fa-desktop"></i> Online</p>
                  <h5 class="card-title">Foundations of Community Employment (webinar) - Option 2</h5>
                  <p class="card-text">This course begins with an overview of community employment, including current social, political, and economic changes that are leading to expansion of opportunities for individuals with disabilities.</p>
                
                    <p class="card-text">If you prefer a live presentation attend this webinar instead of completing the Foundations of Community Employment online course.</p> 
                    
                    <p class="card-text">This webinar does NOT qualify for the required course towards your ACRE Certificate.  You need to take the Foundations online course for the ACRE Certificate.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>when: </b>monthly</li>
                  <li class="list-group-item"><b>Cost:</b> Free</li>
                  
                </ul>
                <div class="card-body">
                  <a href="/pages/tr-foundations-webinar.html" class="card-link">Register & more info</a>
                  
                </div>
              </div>
        </div>

          <div class="col-sm">
            <div class="card" >
                      
                <div class="card-body"><p><i class="fas fa-users"></i> In-Person</p>
                  <h5 class="card-title">Strategies for Discovery and Career Planning (1 day)</h5>
                  <p class="card-text">This workshop focuses on strategies to assess a job seeker’s employment goals, abilities, interests, and capacities. </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>when: </b>November 6 </li>
                  <li class="list-group-item"><b>Cost:</b> $20</li>
                  
                </ul>
                <div class="card-body">
                  <a href="/pages/tr-strategies.html" class="card-link">Register & more info</a>
                  
                </div>
              </div>
        </div>

       
        </div>
       <hr>
        <div class="row">
          <div class="col-sm">
            <div class="card" >
                
                <div class="card-body"><p><i class="fas fa-users"></i> In-Person</p>
                  <h5 class="card-title">Job Development and Business Engagement (2 days)</h5>
                  <p class="card-text">Developing job opportunities and finding the right job match in an ever-changing economic environment places increasing demands on employment professionals. </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>when: </b> September 11 & 12, or December 4 & 5 </li>
                  <li class="list-group-item"><b>Cost:</b> $40</li>
                  
                </ul>
                <div class="card-body">
                  <a href="/pages/tr-jdbe.html" class="card-link">Register & more info</a>
                  
                </div>
              </div>
        </div>
                <div class="col-sm">
                    <div class="card" >
                        
                        <div class="card-body"><p><i class="fas fa-users"></i> In-Person & <i class="fas fa-desktop"></i> Online</p>
                          <h5 class="card-title">Job Coaching and Support Strategies (2 days or online)</h5>
                          <p class="card-text">This workshop focuses on job training and support strategies.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"><b>when: </b>October 16 & 17</li>
                          <li class="list-group-item"><b>Cost:</b> $40</li>
                          
                        </ul>
                        <div class="card-body">
                          <a href="/pages/tr-jcss.html" class="card-link">Register & more info</a>
                          
                        </div>
                      </div>
                </div>
                <div class="col-sm">
                  <div class="card" >
                      
                      <div class="card-body"><p><i class="fas fa-desktop"></i> Online</p>
                        <h5 class="card-title">Earnings and Benefits: Using Social Security Work Incentives (online only)</h5>
                        <p class="card-text">Many job seekers worry about losing their benefits when going to work. This training provides an overview of how earnings impact Social Security benefits.

                          </p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>when: </b> November 1–30
                        </li>
                        <li class="list-group-item"><b>Cost:</b> $20</li>
                        
                      </ul>
                      <div class="card-body">
                        <a href="/pages/tr-eb.html" class="card-link">Register & more info</a>
                        
                      </div>
                    </div>
              </div>
                   <hr>
              </div>
           