<h4>For in-person events: </h4>
  <p>Time: 9am–4pm, with registration and networking starting at 8:30am.<br>
  Continental breakfast will be provided. Lunch will be on your own.</p>

  <p><strong>There is a registration limit of 2 staff per agency for each of the in-person trainings. Additional agency staff can call Berenise Reyes-Albino at 617-287-4314 to be placed on a waitlist.</strong>

  <h4>Certification:</h4>
  <p>Both the Association of Community Rehabilitation Educators (ACRE) and APSE offer certification for employment professionals. </p>

  <p>ICI is an approved ACRE training provider. Participants can earn a <a href="http://www.acreducators.org/certificates/basic-employment-certificate">Basic ACRE Certificate of Achievement in Employment Services</a> if they attend all 6 days of training detailed above, complete additional required fieldwork, and take additional training regarding Social Security Work Incentives.

  <p>Anyone interested in this certificate should download and complete the <a href=""> ACRE Participation Agreement Form</a> and fax it to Lara Enein-Donovan at 617-287-4352, or email a scanned copy to <a href="mailto:lara.eneindonovan@umb.edu">lara.eneindonovan@umb.edu</a>. </p>

  <p>After you submit your signed agreement, we will email you further information about the fieldwork assignments.</p>

  In addition, APSE has established the Employment Support Professional Certification Council to oversee the first national certification program for employment support professionals. To earn the designation of Certified Employment Support Professional, one must pass a national exam.

  For more information, go to http://www.apse.org/certification/.



<h2>General Information</h2>



<h3>Payment</h3>
<p>All payments must be made prior to the start of the training. Payment can be made by check or credit card. Make checks payable to UMass Boston/ICI. All payments are final. If an individual is unable to attend, an alternative trainee may be substituted with three-day notification.</p>
<h3>Registration</h3>

<p>For in-person trainings, there is a registration limit of 2 staff per agency. Additional agency staff can call Berenise Reyes-Albino at 617-287-4314 to be placed on a wait list in case sessions do not reach capacity.</p>
<p>Registration will be accepted on a first come, first serve basis. Participants are strongly encouraged to register online, even if their payment needs to be mailed.</p>

<h3>Online workshops</h3>
<p>Online workshops will be available around the clock (24/7) during the time that they are scheduled to run.  Participation is self-paced and flexible. Included are a variety of formats: readings, presentations, discussion forums, videos, professional development activities, and assignments. An instructor will be available on a regular basis throughout the course to answer questions and give feedback. Registrants will receive login information about 1 week prior to the start date. </p>

<p>Webinar registrants will receive an automated email confirming registration. Reminders will be sent closer to the event date with the webinar URL link and log in instructions.</p>


<h3>CEU's</h3>

<p>Letters of Attendance will be provided upon request.</p>

<h3>Weather Cancellations</h3>
<p>In the event of bad weather, a cancellation decision will be made by 6:00 a.m. on the day of the training event, and a recorded message will be left at 617-287-4390 (only if the event is cancelled).
CRC Credits will be available for Certified Rehabilitation Counselors who attend training events. Letters of Attendance will also be provided upon request.</p>


<h2>Accommodations</h2>

<p>All requests for disability related accommodations should be submitted 3 weeks prior to the start of the training.</p>
<p>Requests for accommodations may be made online as part of the registration process. </p>





<p>Contact for questions:<br />
Berenise Reyes-Albino<br />
<a href="mailto:berenise.albino@umb.edu">berenise.albino@umb.edu</a><br />
<a href="tel:617-287-4314">617-287-4314</a></p>

<hr />
<p><img src="/img/icigreendark.gif" /> * <img src="/img/UMB_blue.png" />

<p><em>This training is presented by the Institute for Community Inclusion at the University of Massachusetts Boston and is funded by the Massachusetts Department of Developmental Services. </em></p>
<p></p>
<p></p>
<p></p>