{% include head.html %}




<div class="container no_top_padding">

  {% include top.html %}



  {% include menu.html %}


  <div class="container">

    <div class="row">
      <div class="col-4 bk-orange">
        <nav class="nav flex-column">
          <h3>Tools & Resources <i class="fa fa-briefcase" aria-hidden="true"></i>
          </h3>
          <hr />
          <a class="nav-link" href="/pages/resource_lib.html">Resource Library Home</a>
          <a class="nav-link" href="/pages/acc.html">Accommodations</a>
          <a class="nav-link" href="/pages/bens.html">Benefits</a>
          <a class="nav-link" href="/pages/community-based-day-supports.html">Community-Based Day Supports</a>
          <a class="nav-link" href="/pages/quality-employment-practices.html"><i class="fas fa-angle-down"></i>Quality
            Employment Practices </a>
          <a class="nav-link lilright" href="/pages/quality-employment-practices.html#cp"> <i class="fas fa-angle-right"></i>
            Career Planning</a>
          <a class="nav-link lilright" href="/pages/quality-employment-practices.html#jc"> <i class="fas fa-angle-right"></i>
            Job Coaching</a>
          <a class="nav-link lilright" href="/pages/quality-employment-practices.html#jd"> <i class="fas fa-angle-right"></i>
            Job Development</a>
          <a class="nav-link" href="/pages/ada.html">Policy & Law</a>
          <a class="nav-link" href="/pages/transportation.html">Transportation</a>

          <a class="nav-link" href="/pages/transition-from-school-to-work.html">Transition from School to Work</a>

        </nav>

      </div>
      <div class="col-8">
        <h1> {{ page.title }} </h1>

        {{ content }}
      </div>
    </div>






  </div>
</div><!-- /.container -->

{% include footer.html %}


</body>

</html>